{% extends 'base.html' %}
{% load staticfiles %}

{% block heading %}
    New Post
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form method="POST" class="login-form col-md-12" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-success" value="save">Save</button>
            <a href="{% url 'board:post_list' %}">
                <button type="button" class="btn btn-danger">Cancel</button>
            </a>
        </form>
    </div>
{% endblock content %}
